.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  div.a {
    text-align: center;
  }
  .left {
    display: block;
    margin-left: auto*2;
    margin-right: auto;
    width: 25%;
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #1e1e1e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fb8b8b;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f85958;
  color: white;
}
body {
  background-color: #333232;
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

}
.parallax1 {
  /* The image used */
  background-image: url("/logos/logo_transparent.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {text-align: center;}